.default-asset16 {
  background-image: url(../../assets/icons/default-icons/default-asset16.png);
  width: 16px;
  height: 16px;
}

.default-asset32 {
  background-image: url(../../assets/icons/default-icons/default-asset32.png);
  width: 32px;
  height: 32px;
}

.default-exchange16 {
  background-image: url(../../assets/icons/default-icons/default-exchange16.png);
  width: 16px;
  height: 16px;
}

.default-exchange32 {
  background-image: url(../../assets/icons/default-icons/default-exchange32.png);
  width: 32px;
  height: 32px;
}
